
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hql="" xmlns:nativeSql="">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="../../admin/css/pearCommon.css" />
<link rel="stylesheet" href="../../component/layui/css/layui.css" />
</head>
<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" action="">

				<div class="layui-form-item">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">资源名称</label>
						<div class="layui-input-inline">
							<input type="text" name="title" placeholder="请输入资源名称或者内容" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline">
							<select name="status">
								<option value=""></option>
								<option value="0">已上架</option>
								<option value="1">已下架</option>
								<option value="2">处理中</option>
								<option value="3">审核中</option>
								<option value="4">已失败</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">置顶</label>
						<div class="layui-input-inline">
							<select name="istop">
								<option value=""></option>
								<option value="1">置顶</option>
								<option value="0">不置顶</option>
							</select>
						</div>
					</div>
					<hql:queryForList hql="from Channel where status=0 and deltag=0 and kind='频道'  order by displayOrder" id="channellist" />
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">发布频道</label>
						<div class="layui-input-inline">
							<select name="channelid" lay-search>
								<option value=""></option>
								<option th:each="c : ${channellist}" th:value="${c.id}" th:text="${c.title}"></option>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">资源类型</label>
						<div class="layui-input-inline">
							<select name="mediaType">
								<option value=""></option>
								<option value="文章">文章</option>
								<option value="链接">链接</option>
								<option value="图片">图片</option>
								<option value="视频">视频</option>
							</select>
						</div>
					</div>
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="news-query">
						<i class="layui-icon layui-icon-search"></i>
						查询
					</button>
					<button type="reset" class="pear-btn pear-btn-md">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="news-table" lay-filter="news-table"></table>
		</div>
	</div>
</body>

<script type="text/html" id="news-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="news-bar">
<button class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit" title="查看">查看</button>
{{#  if(d.status === 3){ }}
	<button class="layui-btn layui-btn-sm layui-btn-normal" title="通过"  onclick="check({{d.id}},0)" >通过</button>
	<button class="layui-btn layui-btn-sm layui-btn-danger" title="不通过"  onclick="check({{d.id}},4)" >不通过</button>
{{#  } }}
</script>

<script src="../../component/layui/layui.js"></script>
<script>
	layui.use([ 'table', 'form', 'jquery' ], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;

		let MODULE_PATH = "/zsnews/news/";

		let cols = [ [ {
			type : 'checkbox'
		}, {
			title : '序号',
			type : 'numbers',
			align : 'center',
			width : '5%'
		}, {
			title : '展示栏目',
			field : 'columns',
			align : 'center',
			width : '10%'
		}, {
			title : '所属频道',
			field : 'channels',
			align : 'center',
			width : '10%'
		}, {
			title : '标题',
			field : 'title',
			align : 'center',
			width : '20%'
		}, {
			title : '资源链接',
			field : 'link',
			align : 'center',
			width : '15%'
		}, {
			title : '状态',
			field : 'status',
			align : 'center',
			width : '10%',
			templet : function(d) {
				if (d.status == 0)
					return '<div>已上架</div>';
				else if (d.status == 1)
					return '<div>已下架</div>';
				else if (d.status == 2)
					return '<div>处理中</div>';
				else if (d.status == 3)
					return '<div>审核中</div>';
				else if (d.status == 4)
					return '<div>已失败</div>';
				else
					return '';
			}
		}, {
			title : '创建时间',
			field : 'created',
			align : 'center',
			width : '10%',
			templet : "<div>{{layui.util.toDateString(d.created, 'yyyy-MM-dd HH:mm:ss')}}</div>"
		}, {
			title : '操作',
			toolbar : '#news-bar',
			align : 'center'
		} ] ]

		table.render({
			elem : '#news-table',
			url : MODULE_PATH + 'data',
			page : true,
			cols : cols,
			skin : 'line',
			toolbar : '#news-toolbar',
			defaultToolbar : [ {
				layEvent : 'refresh',
				icon : 'layui-icon-refresh',
			}, 'filter', 'print', 'exports' ],
			done : function() {
			}
		});

		table.on('tool(news-table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				window.edit(obj);
			} else if (obj.event === 'power') {
				window.power(obj);
			}
		});

		table.on('toolbar(news-table)', function(obj) {
			if (obj.event === 'add') {
				window.add();
			} else if (obj.event === 'refresh') {
				window.refresh();
			} else if (obj.event === 'batchRemove') {
				window.batchRemove(obj);
			}
		});

		form.on('submit(news-query)', function(data) {
			table.reload('news-table', {
				where : data.field
			})
			return false;
		});

		window.add = function() {
			layer.open({
				type : 2,
				title : '新增',
				shade : 0.1,
				area : [ '1200px', '80%' ],
				maxmin : true,
				content : MODULE_PATH + 'add'
			});
		}

		window.edit = function(obj) {
			layer.open({
				type : 2,
				title : '查看',
				shade : 0.1,
				area : [ '1200px', '80%' ],
				maxmin : true,
				content : MODULE_PATH + 'show?id=' + obj.data['id']
			});
		}

		window.remove = function(obj) {
			layer.confirm('确定要删除', {
				icon : 3,
				title : '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url : MODULE_PATH + "remove/" + obj.data['id'],
					dataType : 'json',
					type : 'delete',
					success : function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 3000
							}, function() {
								obj.del();
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 3000
							});
						}
					}
				})
			});
		}

		window.batchRemove = function(obj) {
			let data = table.checkStatus(obj.config.id).data;
			if (data.length === 0) {
				layer.msg("未选中数据", {
					icon : 3,
					time : 1000
				});
				return false;
			}
			let ids = "";
			for (let i = 0; i < data.length; i++) {
				ids += data[i].id + ",";
			}
			ids = ids.substr(0, ids.length - 1);
			layer.confirm('确定要删除', {
				icon : 3,
				title : '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url : MODULE_PATH + "batchRemove/" + ids,
					dataType : 'json',
					type : 'delete',
					success : function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 3000
							}, function() {
								table.reload('news-table');
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 3000
							});
						}
					}
				})
			});
		}

		window.refresh = function() {
			table.reload('news-table');
		}
		
		window.check = function(uid, status) {
			if (status == 0) {
				//审核通过
				checktmp(uid, status, '');
			} else {
				layer.prompt({
					title : '审核意见',
					formType : 2
				}, function(text, index) {
					layer.close(index);
					checktmp(uid, status, text);
				});
			}
		}

		window.checktmp = function(uid, status, msg) {
			$.ajax({
				url : MODULE_PATH + "check/" + uid + "?status=" + status + "&msg=" + msg,
				dataType : 'json',
				type : 'get',
				success : function(result) {
					if (result.success) {
						layer.msg('审核完成', {
							icon : 1,
							time : 3000
						}, function() {
							table.reload('news-table');
						});
					} else {
						layer.msg(result.msg, {
							icon : 2,
							time : 3000
						});
					}
				}
			})
		}
	})

	function redicttozsh() {
		window.location.href = '/zsnews/zshchannel/main';
	}

	function redicttozshnr() {
		window.location.href = '/zsnews/news/main';
	}
</script>
</html>