
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hql="" xmlns:nativeSql="">
<head>
<meta charset="UTF-8">
<title>编辑</title>
<link rel="stylesheet" href="../../admin/css/pearCommon.css" />
<link rel="stylesheet" href="../../component/layui/css/layui.css" />
</head>
<body>
	<form class="layui-form" action="">
		<div class="mainBox">
			<div class="main-container">
				<div class="main-container">
					<div class="layui-form-item layui-hide">
						<label class="layui-form-label">id</label>
						<div class="layui-input-block">
							<input type="text" name="id" th:value="${ topic.id }" autocomplete="off" placeholder="请输入id" class="layui-input">
						</div>
					</div>
					<hql:queryForList hql="from Channel where status=0 and deltag=0 order by displayOrder" id="channellist" />
					<div class="layui-form-item">
						<label class="layui-form-label">所属频道</label>
						<div class="layui-input-block">
							<select name="channelId" lay-verify="required" lay-search>
								<option></option>
								<option th:each="c : ${channellist}" th:value="${c.id}" th:text="${c.title}" th:selected="${topic.channel!=null && topic.channel.id eq c.id}"></option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">专题名称</label>
						<div class="layui-input-block">
							<input type="text" name="title" th:value="${ topic.title }" autocomplete="off" placeholder="请输入专题名称" class="layui-input" maxlength="50" lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">描述</label>
						<div class="layui-input-block">
							<textarea name="remark" placeholder="请输入描述" class="layui-textarea" maxlength="500" th:text="${ topic.remark}"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="button-container">
				<button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="topic-save">
					<i class="layui-icon layui-icon-ok"></i>
					提交
				</button>
				<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
					<i class="layui-icon layui-icon-refresh"></i>
					重置
				</button>
			</div>
		</div>
	</form>
	<script src="../../component/layui/layui.js"></script>
	<script>
		layui.use([ 'form', 'jquery' ], function() {
			let form = layui.form;
			let $ = layui.jquery;
			let MODULE_PATH = "/zsnews/topic/";

			form.on('submit(topic-save)', function(data) {
				$.ajax({
					url : MODULE_PATH + 'update',
					data : JSON.stringify(data.field),
					dataType : 'json',
					contentType : 'application/json',
					type : 'put',
					success : function(result) {
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 1000
							}, function() {
								parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
								parent.layui.table.reload("topic-table");
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 1000
							});
						}
					}
				})
				return false;
			});
		})
	</script>
</body>
</html>