
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hql="" xmlns:nativeSql="">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="../../admin/css/pearCommon.css" />
<link rel="stylesheet" href="../../component/layui/css/layui.css" />
</head>
<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" action="">
				<input type="hidden" name="newsid" th:value="${currentnews.id }" />
				<div class="layui-form-item">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">问题标题</label>
						<div class="layui-input-inline">
							<input type="text" name="newstitle" placeholder="请输入问题标题或者内容" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">回复内容</label>
						<div class="layui-input-inline">
							<input type="text" name="content" placeholder="请输入回复内容" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline">
							<select name="status">
								<option value=""></option>
								<option value="0">已上架</option>
								<option value="1">已下架</option>
								<option value="2">处理中</option>
								<option value="3">审核中</option>
								<option value="4">已失败</option>
							</select>
						</div>
					</div>
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="comment-query">
						<i class="layui-icon layui-icon-search"></i>
						查询
					</button>
					<button type="reset" class="pear-btn pear-btn-md">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
					<button class="pear-btn pear-btn-md " lay-submit lay-filter="comment-back">
						<i class="layui-icon layui-icon-return"></i>
						返回
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="comment-table" lay-filter="comment-table"></table>
		</div>
	</div>
</body>

<script type="text/html" id="comment-bar">
{{#  if(d.status === 3){ }}
	<button class="layui-btn layui-btn-sm layui-btn-normal" title="通过"  onclick="check({{d.id}},0)" >通过</button>
	<button class="layui-btn layui-btn-sm layui-btn-danger" title="不通过"  onclick="check({{d.id}},4)" >不通过</button>
{{#  } }}
</script>

<script src="../../component/layui/layui.js"></script>
<script th:inline="javascript">
	var currentnewsid = [[${currentnews.id}]];
	layui.use([ 'table', 'form', 'jquery' ], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;

		let MODULE_PATH = "/zsnews/comment/";

		let cols = [ [ {
			type : 'checkbox'
		}, {
			title : '小组名称',
			field : 'channeltitle',
			align : 'center',
			width : 100
		}, {
			title : '小组分类',
			field : 'categorys',
			align : 'center',
			width : 100
		}, {
			title : '问题标题',
			field : 'news',
			align : 'center',
			width : 200,
			templet : function(d) {
				return '<div>' + d.news.title + '</div>'
			}
		}, {
			title : '回复内容',
			field : 'content',
			align : 'center',
			width : 250
		}, {
			title : '类型',
			field : 'type',
			align : 'center',
			width : 100
		}, {
			title : '追评内容',
			field : 'comment',
			align : 'center',
			width : 250,
			templet : function(d) {
				if (d.comment == null)
					return '';
				else
					return '<div>' + d.comment.content + '</div>';
			}
		}, {
			title : '状态',
			field : 'status',
			align : 'center',
			width : 150,
			templet : function(d) {
				if (d.status == 0)
					return '<div>已上架</div>';
				else if (d.status == 1)
					return '<div>已下架</div>';
				else if (d.status == 2)
					return '<div>处理中</div>';
				else if (d.status == 3)
					return '<div>审核中</div>';
				else if (d.status == 4)
					return '<div>已失败</div>';
				else
					return '';
			}
		}, {
			title : '创建时间',
			field : 'created',
			align : 'center',
			width : 300,
			templet : "<div>{{layui.util.toDateString(d.created, 'yyyy-MM-dd HH:mm:ss')}}</div>"
		}, {
			title : '操作',
			toolbar : '#comment-bar',
			align : 'center'
		} ] ]

		table.render({
			elem : '#comment-table',
			url : MODULE_PATH + 'data',
			page : true,
			cols : cols,
			where : {
				newsid : currentnewsid
			},
			skin : 'line',
			toolbar : '#comment-toolbar',
			defaultToolbar : [ {
				layEvent : 'refresh',
				icon : 'layui-icon-refresh',
			}, 'filter', 'print', 'exports' ]
		});

		table.on('tool(comment-table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				window.edit(obj);
			} else if (obj.event === 'power') {
				window.power(obj);
			}
		});

		table.on('toolbar(comment-table)', function(obj) {
			if (obj.event === 'add') {
				window.add();
			} else if (obj.event === 'refresh') {
				window.refresh();
			} else if (obj.event === 'batchRemove') {
				window.batchRemove(obj);
			}
		});

		form.on('submit(comment-query)', function(data) {
			table.reload('comment-table', {
				where : data.field
			})
			return false;
		});
		
		form.on('submit(comment-back)', function(data) {
			window.location.href="/zsnews/groupnews/checkmain";
			return false;
		});

		window.add = function() {
			layer.open({
				type : 2,
				title : '新增',
				shade : 0.1,
				area : [ '800px', '80%' ],
				content : MODULE_PATH + 'add'
			});
		}

		window.edit = function(obj) {
			layer.open({
				type : 2,
				title : '修改',
				shade : 0.1,
				area : [ '800px', '80%' ],
				content : MODULE_PATH + 'edit?id=' + obj.data['id']
			});
		}

		window.remove = function(obj) {
			layer.confirm('确定要删除', {
				icon : 3,
				title : '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url : MODULE_PATH + "remove/" + obj.data['id'],
					dataType : 'json',
					type : 'delete',
					success : function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 3000
							}, function() {
								obj.del();
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 1000
							});
						}
					}
				})
			});
		}

		window.batchRemove = function(obj) {
			let data = table.checkStatus(obj.config.id).data;
			if (data.length === 0) {
				layer.msg("未选中数据", {
					icon : 3,
					time : 1000
				});
				return false;
			}
			let ids = "";
			for (let i = 0; i < data.length; i++) {
				ids += data[i].id + ",";
			}
			ids = ids.substr(0, ids.length - 1);
			layer.confirm('确定要删除', {
				icon : 3,
				title : '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url : MODULE_PATH + "batchRemove/" + ids,
					dataType : 'json',
					type : 'delete',
					success : function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 3000
							}, function() {
								table.reload('comment-table');
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 3000
							});
						}
					}
				})
			});
		}

		window.refresh = function() {
			table.reload('comment-table');
		}
		
		window.check = function(uid, status) {
			if (status == 0) {
				//审核通过
				checktmp(uid, status, '');
			} else {
				layer.prompt({
					title : '审核意见',
					formType : 2
				}, function(text, index) {
					layer.close(index);
					checktmp(uid, status, text);
				});
			}
		}

		window.checktmp = function(uid, status, msg) {
			$.ajax({
				url : MODULE_PATH + "check/" + uid + "?status=" + status + "&msg=" + msg,
				dataType : 'json',
				type : 'get',
				success : function(result) {
					if (result.success) {
						layer.msg('审核完成', {
							icon : 1,
							time : 3000
						}, function() {
							table.reload('comment-table');
						});
					} else {
						layer.msg(result.msg, {
							icon : 2,
							time : 3000
						});
					}
				}
			})
		}
	})

	function redicttosqwt() {
		window.location.href = '/zsnews/groupnews/main';
	}

	function redicttosqxz() {
		window.location.href = '/zsnews/group/main';
	}
</script>
</html>