
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hql="" xmlns:nativeSql="">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="../../admin/css/pearCommon.css" />
<link rel="stylesheet" href="../../component/layui/css/layui.css" />
</head>
<body class="pear-container">
	<div class="layui-card">
		<div class="layui-card-body">
			<div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
				<ul class="layui-tab-title">
					<li class="layui-this">浙商号管理</li>
					<li onclick="redicttozshnr()">浙商号内容管理</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label" style="width: 100px !important;">浙商号名称</label>
						<div class="layui-input-inline">
							<input type="text" name="title" placeholder="请输入浙商号名称或者描述" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label" style="width: 100px !important;">浙商号类型</label>
						<div class="layui-input-inline">
							<select name="type">
								<option value=""></option>
								<option value="商会号">商会号</option>
								<option value="企业号">企业号</option>
								<option value="媒体号">媒体号</option>
								<option value="个人号">个人号</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item layui-inline">
						<label class="layui-form-label">状态</label>
						<div class="layui-input-inline">
							<select name="status">
								<option value=""></option>
								<option value="0">已上架</option>
								<option value="1">已下架</option>
							</select>
						</div>
					</div>
					<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="channel-query">
						<i class="layui-icon layui-icon-search"></i>
						查询
					</button>
					<button type="reset" class="pear-btn pear-btn-md">
						<i class="layui-icon layui-icon-refresh"></i>
						重置
					</button>
				</div>
			</form>
		</div>
	</div>
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="channel-table" lay-filter="channel-table"></table>
		</div>
	</div>
</body>

<script type="text/html" id="channel-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="channel-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="status-enable">
	<input type="checkbox" value="{{d.f_id}}" lay-skin="switch" lay-text="已上架|已下架"  lay-filter="status-enable" {{ d.f_status == 0 ? 'checked' : '' }}>
</script>

<script src="../../component/layui/layui.js"></script>
<script>
	layui.use([ 'table', 'form', 'jquery' ], function() {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;

		let MODULE_PATH = "/zsnews/zshchannel/";

		let cols = [ [ {
			type : 'checkbox'
		}, {
			title : '序号',
			type : 'numbers',
			align : 'center',
			width : 80
		}, {
			title : '浙商号名称',
			field : 'f_title',
			align : 'center',
			width : 200
		}, {
			title : '浙商号类型',
			field : 'f_type',
			align : 'center',
			width : 200
		}, {
			title : '展示分类',
			field : 'title2',
			align : 'center',
			width : 300
		}, {
			title : '展示顺序',
			field : 'f_display_order',
			align : 'center',
			width : 150
		}, {
			title : '状态',
			field : 'f_status',
			align : 'center',
			width : 200,
			templet : '#status-enable'
		}, {
			title : '创建时间',
			field : 'f_created',
			align : 'center',
			width : 200,
			templet : "<div>{{layui.util.toDateString(d.created, 'yyyy-MM-dd HH:mm:ss')}}</div>"
		}, {
			title : '操作',
			toolbar : '#channel-bar',
			align : 'center'
		} ] ]

		table.render({
			elem : '#channel-table',
			url : MODULE_PATH + 'data',
			page : true,
			cols : cols,
			skin : 'line',
			toolbar : '#channel-toolbar',
			defaultToolbar : [ {
				layEvent : 'refresh',
				icon : 'layui-icon-refresh',
			}, 'filter', 'print', 'exports' ]
		});

		table.on('tool(channel-table)', function(obj) {
			if (obj.event === 'remove') {
				window.remove(obj);
			} else if (obj.event === 'edit') {
				window.edit(obj);
			} else if (obj.event === 'power') {
				window.power(obj);
			}
		});

		table.on('toolbar(channel-table)', function(obj) {
			if (obj.event === 'add') {
				window.add();
			} else if (obj.event === 'refresh') {
				window.refresh();
			} else if (obj.event === 'batchRemove') {
				window.batchRemove(obj);
			}
		});

		form.on('submit(channel-query)', function(data) {
			table.reload('channel-table', {
				where : data.field
			})
			return false;
		});

		form.on('switch(status-enable)', function(obj) {
			let loading = layer.load();
			$.ajax({
				url : MODULE_PATH + "status/" + this.value,
				dataType : 'json',
				type : 'get',
				success : function(result) {
					layer.close(loading);
					if (result.success) {
						if (obj.elem.checked) {
							layer.msg('启用成功', {
								icon : 1,
								time : 5000
							});
						} else {
							layer.msg('停用成功', {
								icon : 1,
								time : 5000
							});
						}
					} else {
						layer.msg('状态更新失败', {
							icon : 2,
							time : 1000
						});
					}
				}
			})
		});

		window.add = function() {
			layer.open({
				type : 2,
				title : '新增',
				shade : 0.1,
				area : [ '800px', '80%' ],
				content : MODULE_PATH + 'add'
			});
		}

		window.edit = function(obj) {
			layer.open({
				type : 2,
				title : '修改',
				shade : 0.1,
				area : [ '800px', '80%' ],
				content : MODULE_PATH + 'edit?id=' + obj.data['f_id']
			});
		}

		window.remove = function(obj) {
			layer.confirm('确定要删除', {
				icon : 3,
				title : '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url : MODULE_PATH + "remove/" + obj.data['f_id'],
					dataType : 'json',
					type : 'delete',
					success : function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 1000
							}, function() {
								obj.del();
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 1000
							});
						}
					}
				})
			});
		}

		window.batchRemove = function(obj) {
			let data = table.checkStatus(obj.config.id).data;
			if (data.length === 0) {
				layer.msg("未选中数据", {
					icon : 3,
					time : 1000
				});
				return false;
			}
			let ids = "";
			for (let i = 0; i < data.length; i++) {
				ids += data[i].f_id + ",";
			}
			ids = ids.substr(0, ids.length - 1);
			layer.confirm('确定要删除', {
				icon : 3,
				title : '提示'
			}, function(index) {
				layer.close(index);
				let loading = layer.load();
				$.ajax({
					url : MODULE_PATH + "batchRemove/" + ids,
					dataType : 'json',
					type : 'delete',
					success : function(result) {
						layer.close(loading);
						if (result.success) {
							layer.msg(result.msg, {
								icon : 1,
								time : 1000
							}, function() {
								table.reload('channel-table');
							});
						} else {
							layer.msg(result.msg, {
								icon : 2,
								time : 1000
							});
						}
					}
				})
			});
		}

		window.refresh = function() {
			table.reload('channel-table');
		}
	})
	function redicttozshnr() {
		window.location.href = '/zsnews/zshnews/main';
	}
</script>
</html>